<!DOCTYPE html>
<html>
<head>
  <title>Purchase</title>
  <%= stylesheet_link_tag    "purchase/application", media: "all" %>
  <%= javascript_include_tag "purchase/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
