body {
  background-color: #f5f5f5 !important;
  padding-bottom: 80px !important;
}

fieldset {
  border: none !important;
}
.ui.success {
  background-color: #e9ffb4 !important;
}
.ui.container {
  margin-bottom: 80px !important;
  margin-top: 50px !important;
}

.filter-button {
  margin-top: 22px !important;
}