
%table.ui.celled.striped.table
  %thead
    %tr
      %th{:colspan => "3"}
        Git Repository
  %tbody
    %tr
      %td.collapsing
        %i.folder.icon
        node_modules
      %td Initial commit
      %td.right.aligned.collapsing 10 hours ago
    %tr
      %td
        %i.folder.icon
        test
      %td Initial commit
      %td.right.aligned 10 hours ago
    %tr
      %td
        %i.folder.icon
        build
      %td Initial commit
      %td.right.aligned 10 hours ago
    %tr
      %td
        %i.file.outline.icon
        package.json
      %td Initial commit
      %td.right.aligned 10 hours ago
    %tr
      %td
        %i.file.outline.icon
        Gruntfile.js
      %td Initial commit
      %td.right.aligned 10 hours ago
