!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EnthermCore
    = stylesheet_link_tag    'print', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .ui.container
      = yield
